<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
    

    <title>Charter Predictor - Understand your educational options </title>
    <!-- Load jquery -->    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


    <!-- Load popper --> 
    <!-- This has to be before bootstrap if you have dropdowns -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
            crossorigin="anonymous"></script>


    <!--  Load bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

<style>

body{background-image: url("/static/img/school8.jpg"); background-repeat: no-repeat, repeat;
background-size: cover;  background-position: center top;  }

#example1 {
 
  padding: 15px;
  background: WhiteSmoke;
  background-clip: padding-box;  
}

</style>

</head>


  <body>
 



<div class="container">


        


 	
	<div class="starter-template">
        <div id =example1>
	
	<h2>Welcome to Charter Predictor</h2>
        <p>Charter Predictor uses information from the California Department of Education, 
	the American Community Survey, and GreatSchools to predict which new California charter schools
        will continue to operate.</p>
        <p>Please select the name of the new charter school you are interested in below.</p>
	</div>
	</div>
	

<div id =example1>
<div class = "container">
	<form  action="/output" method="GET">
	<div class="form-group">
	  <label for="School">School:</label><br>
	  <select id="mySelect" name="School">

<option value="2">Achieve Charter High</option>
<option value="3">AeroSTEM Academy</option>
<option value="4">Allegiance STEAM Academy - Thrive</option>
<option value="5">Alma Fuerte Public</option>
<option value="6">Alta Vista Innovation High</option>
<option value="7">Ambassador Phillip V. Sanchez II Public Charter</option>
<option value="8">Animo City of Champions Charter High</option>
<option value="9">Arete Charter Academy</option>
<option value="10">Aspire University Charter</option>
<option value="11">Audeo Charter School III</option>
<option value="12">Aurum Preparatory Academy</option>
<option value="13">Baypoint Preparatory Academy - San Diego</option>
<option value="14">Blue Oak Academy</option>
<option value="15">Buckeye Union Mandarin Immersion Charter</option>
<option value="16">California Academy of Sports Science Fresno</option>
<option value="17">California School of the Arts - San Gabriel Valley</option>
<option value="18">California STEAM Sonoma II</option>
<option value="19">California Virtual Academy at Maricopa</option>
<option value="20">Campbell School of Innovation</option>
<option value="21">Career Technical Education Charter</option>
<option value="22">Celerity Rolas Charter</option>
<option value="23">Century High School An Integrated Global Studies Academy</option>
<option value="24">Clarksville Charter</option>
<option value="25">Classical Academy Vista</option>
<option value="26">Coastal Academy Charter</option>
<option value="27">College Preparatory Middle</option>
<option value="28">Come Back Charter</option>
<option value="29">Community Collaborative Virtual - Keppel Partnership Academy</option>
<option value="30">Community Collaborative Virtual - Sage Oak Charter</option>
<option value="31">Community Montessori</option>
<option value="32">Connecting Waters Charter - East Bay</option>
<option value="33">Connecting Waters Charter School - Central Valley</option>
<option value="34">Crescent Valley Public Charter II</option>
<option value="35">Crescent View South II</option>
<option value="36">Crete Academy</option>
<option value="37">Da Vinci RISE High</option>
<option value="38">Delta Keys Charter</option>
<option value="39">Diego Hills Central Public Charter</option>
<option value="40">Diego Valley East Public Charter</option>
<option value="41">Ednovate - Brio College Prep</option>
<option value="42">Ednovate - Esperanza College Prep</option>
<option value="43">Elite Academic Academy - Lucerne</option>
<option value="44">Entrepreneur High</option>
<option value="45">Equitas Academy 4</option>
<option value="46">Excelencia Charter Academy</option>
<option value="47">Excelsior Charter School Corona-Norco</option>
<option value="48">Gabriella Charter 2</option>
<option value="49">Global Learning Charter</option>
<option value="50">Golden Valley Tahoe</option>
<option value="51">Gorman Learning Center San Bernardino/Santa Clarita</option>
<option value="52">Grimmway Academy Shafter</option>
<option value="53">Grossmont Secondary</option>
<option value="54">Growth Public</option>
<option value="55">Hanford Online Charter</option>
<option value="56">Heartland Charter</option>
<option value="57">High Tech High Mesa</option>
<option value="58">High Tech LA Middle</option>
<option value="59">iLead Agua Dulce</option>
<option value="60">iLEAD Online</option>
<option value="61">Ingenium Clarion Charter Middle</option>
<option value="62">Ingenium Wings Independent Study - Compton</option>
<option value="63">Invictus Academy of Richmond</option>
<option value="64">ISANA Himalia Academy</option>
<option value="65">JCS - Cedar Cove</option>
<option value="66">JCS - Mountain Oaks</option>
<option value="67">JCS - Pine Hills</option>
<option value="68">JCS - Pine Valley</option>
<option value="69">John Adams Academy - El Dorado Hills</option>
<option value="70">John Adams Academy - Lincoln</option>
<option value="71">Juan Bautista de Anza Charter</option>
<option value="72">Julia Lee Performing Arts Academy</option>
<option value="73">Kepler Neighborhood</option>
<option value="74">Kings Valley Academy II</option>
<option value="75">KIPP Bayview Elementary</option>
<option value="76">KIPP Corazon Academy</option>
<option value="77">KIPP Navigate College Prep</option>
<option value="78">KIPP Valiant Community Prep</option>
<option value="79">LA's Promise Charter High #1</option>
<option value="80">Lashon Academy</option>
<option value="81">Latitude 37.8 High</option>
<option value="82">Learning by Design Charter</option>
<option value="83">Learning Choice Academy - Chula Vista</option>
<option value="84">Legacy Academy</option>
<option value="85">Lemoore Online College Preparatory High</option>
<option value="86">Los Feliz Charter Middle School for the Arts</option>
<option value="87">Magnolia Science Academy 2</option>
<option value="88">Magnolia Science Academy 3</option>
<option value="89">Magnolia Science Academy 5</option>
<option value="90">Maidu Virtual Charter Academy</option>
<option value="91">Marconi Learning Academy</option>
<option value="92">Matrix for Success Academy</option>
<option value="93">Method Schools, LA</option>
<option value="94">MIT Griffin Academy Middle</option>
<option value="95">Mojave River Academy - Gold Canyon</option>
<option value="96">Mojave River Academy - Marble City</option>
<option value="97">Mojave River Academy - National Trails</option>
<option value="98">Mojave River Academy - Oro Grande</option>
<option value="99">Mojave River Academy - Rockview Park</option>
<option value="100">Mojave River Academy - Route 66</option>
<option value="101">Mojave River Academy - Silver Mountain</option>
<option value="102">National University Academy 1001 STEAM</option>
<option value="103">NorCal Trade and Tech</option>
<option value="104">Northern United - Humboldt Charter</option>
<option value="105">Northern United - Siskiyou Charter</option>
<option value="106">OCS - South</option>
<option value="107">Olive Grove Charter - Buellton</option>
<option value="108">Olive Grove Charter - Lompoc</option>
<option value="109">Olive Grove Charter - Orcutt/Santa Maria</option>
<option value="110">Olive Grove Charter - Santa Barbara</option>
<option value="111">Opportunity Academy</option>
<option value="112">Options for Youth-Acton</option>
<option value="113">Oxford Day Academy</option>
<option value="114">PACE Academy Charter</option>
<option value="115">Pacific Coast Academy</option>
<option value="116">Pacific Springs Charter</option>
<option value="117">Phoenix Charter Academy</option>
<option value="118">Pivot Charter School - North Bay</option>
<option value="119">Pivot Charter School - San Diego II</option>
<option value="120">Pivot Charter School North Valley II</option>
<option value="121">Pivot Charter School Riverside</option>
<option value="122">Placer Academy Charter</option>
<option value="123">Porterville Military Academy</option>
<option value="124">PUC International Preparatory Academy</option>
<option value="125">REALM Charter</option>
<option value="126">RISE High</option>
<option value="127">Rocketship Delta Prep</option>
<option value="128">Ross Valley Charter</option>
<option value="129">Santa Cruz County Career Advancement Charter</option>
<option value="130">SAVA - Sacramento Academic and Vocational Academy - EGUSD</option>
<option value="131">SAVA - Sacramento Academic and Vocational Academy - SCUSD</option>
<option value="132">Savant Preparatory Academy of Business</option>
<option value="133">Scale Leadership Academy - East</option>
<option value="134">Scholarship Prep - Oceanside</option>
<option value="135">School of Universal Learning (SOUL)</option>
<option value="136">Sherman Thomas STEM Academy</option>
<option value="137">Soleil Academy Charter</option>
<option value="138">Sparrow Academy</option>
<option value="139">Stella Elementary Charter Academy</option>
<option value="140">Stellar Charter</option>
<option value="141">STEM Preparatory Elementary</option>
<option value="142">Sweetwater Secondary</option>
<option value="143">Sycamore Valley Academy</option>
<option value="144">TEACH Preparatory Mildred S. Cunningham & Edith H. Morris Elementary</option>
<option value="145">Team Charter Academy</option>
<option value="146">Tomorrow's Leadership Collaborative (TLC) Charter</option>
<option value="147">Tree of Life International Charter</option>
<option value="148">Trivium Charter School Adventure</option>
<option value="149">Trivium Charter School Voyage</option>
<option value="150">Unity Middle College High</option>
<option value="151">Valley International Preparatory High</option>
<option value="152">Vista Condor Global Academy</option>
<option value="153">Vista Norte Public Charter</option>
<option value="154">Vista Springs Charter</option>
<option value="155">Voices College-Bound Language Academy at West Contra Costa County</option>
<option value="156">Vox Collegiate of Los Angeles</option>
<option value="157">Washington Middle College High</option>
<option value="158">West County Charter Middle</option>
<option value="159">WISH Academy High</option>
<option value="160">WISH Community</option>
<option value="161">Wonderful College Prep Academy - Lost Hills</option>
<option value="162">Yolo County Career Academy</option>




	  </select>
	</div>
     </div>

  
    <button type="submit" class="btn btn-lg">
	  <font color="green">Click here to run Charter Predictor for this school </font>
	</button>

	<div class="starter-template">
        Visit the 
        <a      href="https://medium.com/@pjcizek/predicting-the-resilience-of-charter-schools-65be8594d75f">Medium article,</a>        
        <a      href="https://drive.google.com/open?id=1mkPJ8oAbXVnbtWc48mHkgHbW7pGkAFZqHBRqfQR7qmY"> slide presentation,</a>  
        or
	<a      href="https://github.com/pjcizek/Charter-Predictor">GitHub repository </a>  	
	for CharterPredictor.
        </div>  	
	

		
	
  
     


    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>


  </div> <!-- /.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    
  </body>

 
</html>
